.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 50px;
	margin-top: 40px;
	padding-top: 50px;
	border-top: 1px solid transparent;
	border-image: linear-gradient(
			90deg,
			transparent,
			rgba(255, 255, 255, 0.5),
			transparent
		)
		1;

	.logo {
		position: absolute;
		top: -15px;
		background: var(--background);
		padding-inline: 20px;
		width: 60px;
	}

	.vercelLight {
		display: block;
		width: max-content;
	}
}
