.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 50px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 50px;
	border-top: 1px solid transparent;
	border-image: linear-gradient(
			90deg,
			transparent,
			var(--color-separator),
			transparent
		)
		1;

	.footerLogo {
		position: absolute;
		top: -20px;
		background: var(--color-background);
		padding-inline: 20px;
		width: 60px;
	}

	.vercelLight {
		display: block;
		width: max-content;
	}

	.bottomFooter {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
