.sidebarLayout {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	section {
		width: 100%;
	}

	.navigationSidebar {
		position: sticky;
		top: 1rem;
		height: max-content;
	}
}

@media screen and (max-width: 570px) {
	.sidebarLayout {
		flex-direction: column;
	}
}
