.sidebarLayout {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	> div {
		width: 100%;
	}

	.mainContent {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		.videoContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;
			width: 100%;
			height: max-content;

			.video {
				max-height: 70vh;
			}

			.formMobile {
				display: none;
				width: 100%;

				button[type='submit'] {
					margin-bottom: 1rem;
				}
			}

			h2 {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 2rem;
			}
		}
	}

	.navigationSidebar {
		position: sticky;
		top: 1rem;
		height: max-content;
		width: max-content;
		z-index: 10;

		.folded {
			max-width: 110px;
			min-width: 110px;

			> span {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.sidebarLayout {
		.mainContent {
			.videoContainer {
				.formMobile {
					display: block;
				}
			}

			> div:not(.videoContainer) {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 570px) {
	.sidebarLayout {
		flex-direction: column;

		.navigationSidebar {
			display: none;
		}
	}
}
