{
	"extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@remotion", "simple-import-sort", "import"],
	"globals": {
		"process": true
	},
	"rules": {
		"no-console": [
			"error",
			{
				"allow": ["warn", "error"]
			}
		],
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-empty-function": "off",
		"no-unused-vars": "off",
		"import/order": "off",
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					// Mocks imports. eg: `import React from '../../mocks/react';`
					["^.*/mocks.*$"],
					// Packages `react` related packages come first.
					["^react", "^@?\\w"],
					// Internal packages.
					["^(@|components)(/.*|$)"],
					// Side effect imports.
					["^\\u0000"],
					// Parent imports. Sort by most deep first.
					// eg: `import { foo } from '../../foo';` before `import { bar } from '../bar';`
					["^\\.\\.(?!/?$)", "^\\.\\./?$"],
					// Relative imports. Sort by most deep first.
					// eg: `import { foo } from './foo/foo';` before `import { bar } from './bar';`
					["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
					// Style imports. eg: import './home.module.css';'
					["^.+\\.?(css)$"]
				]
			}
		],
		"import/first": "error",
		"import/newline-after-import": "error",
		"import/no-duplicates": "error"
	}
}
