{
	"extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@remotion"],
	"globals": {
		"process": true
	},
	"rules": {
		"no-console": [
			"error",
			{
				"allow": ["warn", "error"]
			}
		],
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-empty-function": "off",
		"no-unused-vars": "off",
		"import/order": [
			"error",
			{
				"groups": ["builtin", "external", "internal"],
				"pathGroups": [
					{
						"pattern": "react",
						"group": "external",
						"position": "before"
					}
				],
				"pathGroupsExcludedImportTypes": ["react"],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	},
	"overrides": [
		{
			"files": ["__test__/**/*.tsx"],
			"rules": {
				"import/order": "off"
			}
		}
	]
}
