{
	"extends": ["next/core-web-vitals"],
	"plugins": ["@remotion"],
	"globals": {
		"process": true
	},
	"rules": {
		"no-console": ["error", {"allow": ["warn", "error"]}],
		"no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
	}
}
