# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
build/

# Lock files
pnpm-lock.yaml
pnpm-workspace.yaml
.pnpm-store/
package-lock.json

# Misc
.DS_Store
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Vercel
.vercel/

# Coverage
coverage/