.animate-grow {
    animation: grow .25s both;
}

@keyframes grow {
    0% {
        animation-timing-function: ease-out;
    }
    50% {
        transform: scale(1.3);
        animation-timing-function: ease-in;
    }
}