.contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	img {
		border-radius: 50%;
	}

	> div {
		h4 {
			font-size: 1.5rem;
			font-weight: 700;
			color: var(--color-primary);
		}

				.twitter {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					font-size: 1rem;
					font-weight: 500;
					color: var(--color-text);

			> svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}
