.landingHeader {
	position: sticky;
	top: 0;
	background: var(--color-background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding: 1rem clamp(1rem, 10%, 5rem);
	border-bottom: 1px solid transparent;
	border-image: var(--separator);

	> a:not(:first-child) {
		display: block;
		width: max-content;
		font-size: 1rem;
	}
}

.homeMain {
	padding: 0 clamp(1rem, 10%, 5rem);
}

@media screen and (max-width: 570px) {
	.landingHeader {
		display: block;

		> a {
			margin: 0 auto;

			&:not(:first-child) {
				margin: 20px auto 10px;
			}
		}
	}
}
