.listContainer {
	margin: 5rem auto;

	h3 {
		font-weight: 700;
		font-size: 3rem;
		text-align: center;
		margin-bottom: 3rem;
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;
	}
}
