@keyframes gradient-rotate {
	from {
		transform: rotate(0deg) scale(2);
	}
	to {
		transform: rotate(360deg) scale(2);
	}
}

.card {
	position: relative;
	display: block;
	width: max-content;
	height: max-content;
	padding: calc(1rem + 4px);
	border-radius: 10px;
	transition: all 0.3s linear;
	overflow: hidden;

	> *:not(.border) {
		z-index: 5;
	}

	.border {
		position: absolute;
		display: block;
		width: 125%;
		height: 250%;
		top: -75%;
		left: -12.5%;
		background: var(--card-border-hover);
		opacity: 0;
		z-index: -1;
		transition: all 0.3s ease;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: var(--card-border);
		z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		top: 2px;
		left: 2px;
		background: var(--card-background);
		z-index: -1;
		border-radius: 8px;
		transition: all 0.3s ease;
	}

	&:hover {
		&::after {
			background: var(--card-background-hover);
		}

		.border {
			opacity: 1;
			animation: gradient-rotate 4s linear infinite;
		}
	}
}
