.infosCard {
	position: relative;
	display: block;
	width: 100%;
	height: max-content;
	overflow: hidden;
	padding: 30px 20px;
	border-radius: 5px;
	background: var(--switch-background);
	z-index: 0;
	margin-bottom: 1rem;

	span {
		display: block;
		font-size: 0.8rem;
	}

	.statusIcon {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	&.error {
		background: var(--color-error);
		color: var(--color-error-text);
	}

	&.success {
		background: var(--color-success);
		color: var(--color-success-text);
	}

	&.loading {
		&::before {
			content: '';
			position: absolute;
			z-index: -2;
			left: -200%;
			top: -200%;
			width: 500%;
			height: 500%;
			background-color: var(--switch-background);
			background-repeat: no-repeat;
			background-size:
				50% 50%,
				50% 50%;
			background-position:
				0 0,
				100% 0,
				100% 100%,
				0 100%;
			background-image:
				linear-gradient(var(--switch-background), var(--switch-background)),
				linear-gradient(var(--color-primary), var(--color-primary)),
				linear-gradient(var(--switch-background), var(--switch-background)),
				linear-gradient(var(--color-primary), var(--color-primary));
			animation: rotate 3s linear infinite;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: -1;
			left: 3px;
			top: 3px;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
			background: var(--switch-background);
			border-radius: 5px;
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
