.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding-inline: 40px;
	padding-top: 40px;

	.separator {
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;

		hr {
			height: 1px;
			border-top: 1px solid transparent;
			border-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5)) 1;
			width: 100%;

			&:last-child {
				transform: rotate(180deg);
			}
		}
	}

	a {
		display: block;
		width: max-content;
	}

	.vercelLight {
		filter: invert(1);
	}
}
