.sideBarNav {
	overflow: scroll;
	height: 100%;

	details {
		user-select: none;
		position: relative;

		ul {
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 15px;
		}

		> summary {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px 10px;
			border-radius: 5px;

			> svg {
				width: 25px;
				height: 25px;
			}

			&:hover, &.selected {
				cursor: pointer;
				background: var(--switch-background);
			}
		}

		&[open] {
			overflow: hidden;

			> summary {
				> svg {
					transform: rotate(-180deg);
				}
			}
		}
	}

	.topLevel {
		padding: 0 20px;
		margin-top: 15px;
		text-transform: capitalize;

		&:first-child {
			margin-top: 0;

			> a {
				width: 100%;
				padding: 5px 10px;
			}
		}

		&:first-child span,
		summary > div {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 1rem;
			font-weight: 500;

			> svg {
				width: 25px;
				height: auto;
			}
		}

		> details {
			> ul {
				padding-inline: 10px;
			}

			.category {
				width: 100%;

				> summary {
					font-weight: 300;
					font-size: 0.9rem;

					> svg {
						width: 20px;
						height: 20px;
					}
				}

				> ul {
					padding-bottom: 10px;
					border-bottom: 1px solid transparent;
					border-image: var(--separator);
				}
			}
		}
	}
}

[data-folded='true'] {
	.sideBarNav {
		overflow: visible;

		.topLevel {
			width: max-content;

			.topLevelText {
				display: none;
			}

			> details {
				position: relative;
				overflow: visible;

				> summary {
					&::after {
						display: none;
					}
				}

				> ul {
					position: absolute;
					overflow: scroll;
					width: 270px;
					height: 400px;
					top: 0;
					left: 110%;
					background: var(--color-background);
					border: 1px solid var(--switch-border);
					box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
					border-radius: 10px;
					padding: 20px;
					z-index: 10;
				}
			}
		}
	}
}
