.sideBarNav {
	overflow: scroll;
	height: 100%;

	details {
		user-select: none;
		position: relative;

		ul {
			padding-left: 10px;
			margin-left: 10px;
			border-left: 1px solid transparent;
			border-image: linear-gradient(
					transparent,
					var(--color-separator),
					transparent
				)
				1;
		}

		> summary {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px 10px;
			border-radius: 5px;

			> svg {
				width: 25px;
				height: 25px;
			}

			&:hover {
				cursor: pointer;
				background: var(--switch-background);
			}
		}

		&[open] {
			overflow: hidden;

			> summary {
				> svg {
					transform: rotate(-180deg);
				}
			}
		}
	}

	.topLevel {
		margin-top: 15px;
		text-transform: capitalize;

		&:first-child {
			margin-top: 0;
			padding: 5px 10px;
		}

		span,
		summary > div {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 1rem;
			font-weight: 500;

			svg {
				width: 25px;
				height: auto;
			}
		}

		> details {
			> ul {
				margin-left: 20px;
				padding-left: 20px;
			}

			.category {
				> summary {
					margin-top: 10px;
					font-weight: 300;
					font-size: 0.9rem;

					> svg {
						width: 20px;
						height: 20px;
					}
				}
			}

			.activeLink {
				li {
					font-weight: 300;
					font-size: 0.9rem;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.activeLink {
	display: block;
	margin: 10px 0;
	padding: 5px 10px;
	border-radius: 5px;

	li,
	span {
		color: var(--color-text);
	}

	&:hover {
		background: var(--switch-background);
	}

	&.active {
		background: var(--switch-background);
	}
}
