.resizeWrapper {
	position: relative;
	max-width: 500px;

	> span {
		position: absolute;
		height: 100%;
		width: 20px;
		top: 0;
		left: auto;
		right: -10px;
		z-index: 2;
		cursor: col-resize;
		transform-origin: center;

		&.handleLeft {
			right: auto;
			left: -10px;
		}
	}

	&[aria-expanded='false'] {
		max-width: 110px;
		min-width: 110px;

		> span {
			display: none;
		}
	}
}

@container sidebar (max-width: 200px) {
	.resizeWrapper {
		> span {
			display: none;
		}
	}
}

@media screen and (max-width: 570px) {
	.resizeWrapper {
		display: none;
	}
}
