.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
	max-width: 315px;
	width: 100%;
	height: calc(100vh - 2rem);
	background: var(--color-background);
	border: 2px solid var(--switch-border);
	border-radius: 10px;

	.openBurgerBtn,
	.closeBurgerBtn {
		display: none;
	}

	header {
		width: 100%;
		padding: 20px 20px 15px;
		border-bottom: 1px solid transparent;
		border-image: var(--separator);

		.logoLink {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			font-size: 1.6rem;
			color: var(--color-link);
		}
	}

	.burgerContent {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 90%;
		width: 100%;
		gap: 20px;

		footer {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;
			padding: 15px 20px 20px;
			border-top: 1px solid transparent;
			border-image: var(--separator);

			.contributeLink {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 1rem;
				font-weight: 500;
				color: var(--color-text);

				svg {
					width: 25px;
					height: auto;
					fill: var(--color-text);
				}

				&:hover {
					color: var(--color-link);

					svg {
						fill: var(--color-link);
					}
				}
			}
		}
	}

	.foldButton {
		position: absolute;
		top: 80px;
		right: -15px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2px;
		border-radius: 8px;
		border: 2px solid var(--switch-border);
		background: var(--color-background);

		> svg {
			width: 20px;
			height: 20px;
		}
	}

	&[aria-expanded='false'] {
		align-items: center;
		width: 110px;

		.foldButton {
			transform: rotate(180deg);
		}

		footer {
			flex-direction: column;
			gap: 15px;
		}
	}
}
/* bp: 220px - 270px (sidebar width) */
@media screen and (max-width: 570px) {
	.sidebar {
		max-width: 100%;
		height: max-content;
		border: none;

		.openBurgerBtn,
		.closeBurgerBtn {
			display: block;

			> svg {
				width: 40px;
				height: 40px;
			}
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.burgerContent {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 0;
			left: 0;
			background: var(--color-background);
			padding: 10px 0;
			gap: 10px;
			z-index: 10;
			transform: translateX(100%);
			transition: transform 0.3s ease;

			.closeBurgerBtn {
				margin-left: auto;
				padding: 10px 20px 0 0;
			}

			&.openedBurger {
				transform: translateX(0);
			}
		}

		.foldButton {
			display: none;
		}
	}
}
