.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	max-width: 315px;
	width: 100%;
	height: calc(100vh - 2rem);
	background: var(--color-background);
	border: 2px solid var(--switch-border);
	border-radius: 10px;

	header {
		padding: 20px 20px 15px;
		border-bottom: 1px solid transparent;
		border-image: var(--separator);

		.logoLink {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			font-size: 1.6rem;
			color: var(--color-link);
		}
	}

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px 20px;
		border-top: 1px solid transparent;
		border-image: var(--separator);

		.contributeLink {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 1rem;
			font-weight: 500;
			color: var(--color-text);

			svg {
				width: 25px;
				height: auto;
				fill: var(--color-text);
			}

			&:hover {
				color: var(--color-link);

				svg {
					fill: var(--color-link);
				}
			}
		}
	}
}
