a {
	color: #efdb50;
}

nav > ul > li {
	padding: 0.8rem 1.4rem;
	margin-top: 1rem;
	background: white;
	border-radius: 8px;
	transition: 200ms;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 5px -1px #000000;
}

nav > ul > li.active {
	background: #efdb50;
}

nav > ul > li:hover {
	transform: scale(1.05);
	transition: all 200ms ease-out;
}

li a:hover {
	color: #1c1c1c;
}

li a {
	color: #1c1c1c;
	text-decoration: none;
}

form {
	margin-top: 1rem;
}

form input {
	color: #1c1c1c;
}

form > a {
	color: #1c1c1c;
	padding: 0.6rem 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	background: #efdb50;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 1rem;
	transition: 200ms;
}

form > a:hover {
	transform: scale(1.05);
	color: #1c1c1c;
	transition: all 200ms ease-out;
}

.generation-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	nav > ul {
		flex-direction: row;
	}

	nav > ul > li {
		margin: 0;
	}

	.generation-block {
		flex-direction: row;
		align-items: normal;
	}

	form {
		margin-top: 0;
	}
}
