a {
	color: #efdb50;
}

li a:hover {
	color: #1c1c1c;
}

li a {
	color: #1c1c1c;
	text-decoration: none;
}

form {
	margin-top: 1rem;
}

form input {
	color: #1c1c1c;
}

form > a {
	color: #1c1c1c;
	padding: 0.6rem 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	background: #efdb50;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 1rem;
	transition: 200ms;
}

form > a:hover {
	transform: scale(1.05);
	color: #1c1c1c;
	transition: all 200ms ease-out;
}

@media screen and (min-width: 768px) {
	form {
		margin-top: 0;
	}
}
