body {
	background-color: #282c34;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: #efdb50;
}

main {
	max-width: 50rem;
	padding: 0 0.8rem;
	margin: 0 auto;
}

footer {
	margin-top: 3rem;
	text-align: right;
}

main > article {
	margin-bottom: 2rem;
}

.github {
	margin-left: auto;
}

a {
	color: #efdb50;
}

a:hover,
.github:focus {
	color: white;
}

nav {
	padding: 1rem 0 3rem;
}

nav > ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav > ul > li {
	padding: 0.8rem 1.4rem;
	margin-top: 1rem;
	background: white;
	border-radius: 8px;
	transition: 200ms;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 5px -1px #000000;
}

nav > ul > li.active {
	background: #efdb50;
}

nav > ul > li:hover {
	transform: scale(1.05);
	transition: all 200ms ease-out;
}

li a:hover {
	color: #1c1c1c;
}

li a {
	color: #1c1c1c;
	text-decoration: none;
}

form {
	margin: 1rem 1rem;
}

form > a {
	color: #1c1c1c;
	padding: 0.6rem 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	background: #efdb50;
	border-radius: 4px;
	text-decoration: none;
	margin-top: 1rem;
	transition: 200ms;
}

form > a:hover {
	transform: scale(1.05);
	color: #1c1c1c;
	transition: all 200ms ease-out;
}

.chapo header {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.chapo header h1 {
	margin-left: 2rem;
}

.generation-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
	justify-content: space-between;
}

.command {
	position: relative;
	cursor: pointer;
	border-radius: 4px;
	font-size: 1.2rem;
	display: block;
	background: #1c1c1c;
	padding: 1rem 2rem;
	word-break: break-all;
}

@keyframes popup {
	0% {
		top: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		top: -2rem;
		opacity: 0;
	}
}

.command.animated::after {
	animation: 2s ease-in popup;
}

.command::after {
	position: absolute;
	padding: 0.2rem 0.3rem;
	background: #efdb50;
	color: #1c1c1c;
	border-radius: 4px;
	right: 0;
	content: 'Command copied in clipboard';
	opacity: 0;
}

.command:hover {
	background: #444444;
}

@media screen and (min-width: 768px) {
	nav > ul {
		flex-direction: row;
	}

	nav > ul > li {
		margin: 0;
	}

	.generation-block {
		flex-direction: row;
		align-items: normal;
	}

	form {
		margin-top: 0;
	}
}
