.switchThemeGroup {
	display: flex;
	gap: 0.5rem;
	padding: 0.25rem;
	margin-left: 20px;
	background: var(--background);
	border: 1px solid var(--switch-border);
	border-radius: 50px;

	button {
		padding: 0.4rem;
		color: var(--switch-unselected);
		border-radius: 50px;

		&[aria-checked='true'] {
			background: var(--switch-background);
			color: var(--text);
		}

		&:hover {
			color: var(--text);
		}
	}
}
