@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Purple variants */
	--purple-50: #f3e8ff;
	--purple-100: #e0aaff;
	--purple-200: #c77dff;
	--purple-300: #9d4edd;
	--purple-400: #7b2cbf;
	--purple-450: rgba(157, 78, 221, 0.5);
	--purple-500: #5a189a;
	--purple-600: #3c096c;
	--purple-700: #240046;
	--purple-800: #10002b;
	--purple-900: #0e001c;
	/* Grey variables */
	--grey-50: #eaeaea;
	--grey-100: #bab6be;
	--grey-500: #565656;

	--color-error: #d73453;
	--color-success: #2f942f;

	--color-primary: var(--purple-200);
	--color-link: var(--purple-100);
	--color-background: var(--purple-900);
	--color-separator: var(--grey-100);
	--color-text: white;

	--color-btn-text: var(--purple-900);
	--color-btn-background: white;

	--color-input-background: #eaeaea;

	--switch-background: var(--purple-450);
	--switch-unselected: var(--grey-100);
	--switch-border: var(--grey-100);

	--color-logo: white;

	--separator: linear-gradient(
			90deg,
			transparent,
			var(--color-separator),
			transparent
		)
		1;
}

[data-theme='light'] {
	--color-error: #f3ad9e;
	--color-error-text: #772119;
	--color-success: #d3e6d0;
	--color-success-text: #336b2e;

	--color-primary: var(--purple-300);
	--color-link: var(--purple-300);
	--color-background: white;
	--color-separator: var(--purple-450);
	--color-text: var(--purple-900);

	--color-btn-text: white;
	--color-btn-background: var(--purple-600);

	--switch-background: var(--purple-50);
	--switch-unselected: var(--grey-500);
	--switch-border: var(--grey-100);

	--color-logo: var(--purple-600);
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);

	&[data-lock-scroll] {
		overflow: hidden;
	}
}

a {
	color: var(--color-link);
}
