@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Purple variants */
	--purple-50: #f3e8ff;
	--purple-100: #e0aaff;
	--purple-200: #c77dff;
	--purple-300: #9d4edd;
	--purple-400: #7b2cbf;
	--purple-500: #5a189a;
	--purple-600: #3c096c;
	--purple-700: #240046;
	--purple-800: #10002b;
	--purple-900: #0e001c;

	--white: white;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--purple-200);
		--link: var(--purple-100);
		--background: var(--purple-900);
		--text: var(--white);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--purple-300);
		--link: var(--purple-400);
		--background: var(--white);
		--text: var(--purple-900);
	}
}

body {
	background-color: var(--background);
	color: var(--text);
}

main {
	max-width: 60rem;
}

a {
	color: var(--link);
}
